<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Locations</h1>

  <div id="locations">
    <% @locations.each do |location| %>
      <p><%= location.name %> <%= link_to "Show this location", location %></p>
    <% end %>
  </div>

  <%= link_to "New location", new_location_path, class: "btn" %>
</div>
